.floating-assistant {
  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 60px;
  height: 60px;

  border: none;
  border-radius: 50%;

  background: #2563eb;
  color: white;

  font-size: 26px;
  cursor: pointer;

  box-shadow: 0 8px 20px rgba(0,0,0,0.25);

  transition: all 0.3s ease;

  z-index: 9999;
}

.floating-assistant:hover {
  transform: scale(1.08);
}

.assistant-window {
  position: fixed;
  bottom: 100px;
  right: 25px;

  width: 320px;
  background: white;

  border-radius: 15px;
  overflow: hidden;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);

  z-index: 9999;
}

.assistant-header {
  background: #2563eb;
  color: white;

  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assistant-header h3 {
  margin: 0;
  font-size: 16px;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.assistant-body {
  padding: 20px;
  min-height: 180px;
  font-size: 15px;
  line-height: 1.5;

  background: white;
  color: #222;      
}

.question-btn {
  width: 100%;
  text-align: left;

  margin-top: 10px;
  padding: 10px 12px;

  border: none;
  border-radius: 8px;

  background: #f3f4f6;
  cursor: pointer;

  transition: 0.2s;
  color: #222;
}

.question-btn:hover {
  background: #dbeafe;
}

.assistant-answer {
  margin-top: 18px;
  padding: 12px;

  background: #eef4ff;
  border-left: 4px solid #2563eb;

  border-radius: 8px;
  color: #222;
  line-height: 1.5;
}